<% provide(:title, "#{@course.name} | #{@assignment.name} | Grading") %>
<h3 align="center">Grading for <%= @assignment.name %><%= ", Part (" + @subpart.index + "): " + @subpart.name if @subpart %></h3>
<div class="row">
  <div class="span3">
    <div class="pull-left">
      <%= link_to glyph(:fast_backward), @enrollment.prev_grading_to_do(@grading.id), type: "button", class: "btn#{" disabled" if @enrollment.prev_grading_to_do(@grading.id).nil? }", title: 'Previous ungraded assignment (ctrl + ←)', data: { keybinding: 'ctrl+left' } %>
      <%= link_to glyph(:backward), @enrollment.prev_grading(@grading.id), type: "button", class: "btn#{" disabled" if @enrollment.prev_grading(@grading.id).nil? }", title: 'Previous assignment (←)', data: { keybinding: 'left' } %>
    </div>
  </div>
  <div class="span6">
    <%= render 'form' %>
  </div>
  <div class="span3">
    <div class="pull-right">
      <%= link_to glyph(:forward), @enrollment.next_grading(@grading.id), type: "button", class: "btn#{" disabled" if @enrollment.next_grading(@grading.id).nil? }", title: 'Next assignment (→)', data: { keybinding: 'right' } %>
      <%= link_to glyph(:fast_forward), @enrollment.next_grading_to_do(@grading.id), type: "button", class: "btn#{" disabled" if @enrollment.next_grading_to_do(@grading.id).nil? }", title: 'Next ungraded assignment (ctrl + →)', data: { keybinding: 'ctrl+right' } %>
    </div>
  </div>
	<div class="span6">
		<h2>Solution/Rubric</h2>
		<% if @subpart %>
			<% @subpart.pages.each do |page| %>
				<div class="span6">
					<%= image_tag page.page_file_url %>
				</div>
			<% end %>
		<% else %>
			<iframe class="span6" src="<%= @assignment.solution_file_url.to_s %>" style="height:500px;" frameborder="0">
				Assignment
			</iframe>
		<% end %>
	</div>
	<div class="span6">
		<h2>Submission</h2>
		<% if @subm_subpart %>
			<% @subm_subpart.pages.each do |page| %>
				<div class="span6">
					<%= image_tag page.page_file_url %>
				</div>
			<% end %>
		<% else %>
			<iframe class="span6" src="<%= @submission.pdf_url.to_s %>" style="height:500px;" frameborder="0">
				Submission File
			</iframe>
		<% end %>
	</div>
</div> 
