<% provide(:title, "#{@course.name} | #{@assignment.name} | Grading") %>
<h1>Grading for <%= @assignment.name %></h1>
<div class="row">
  <div class="span3">
    <div class="pull-left">
      <%= link_to glyph(:fast_backward), @enrollment.prev_grading_to_do(@grading.id), type: "button", class: "btn#{" disabled" if @enrollment.prev_grading_to_do(@grading.id).nil? }", title: 'Previous ungraded assignment (ctrl + ←)', data: { keybinding: 'ctrl+left' } %>
      <%= link_to glyph(:backward), @enrollment.prev_grading(@grading.id), type: "button", class: "btn#{" disabled" if @enrollment.prev_grading(@grading.id).nil? }", title: 'Previous assignment (←)', data: { keybinding: 'left' } %>
    </div>
  </div>
  <div class="span6">
    <%= render 'form' %>
  </div>
  <div class="span3">
    <div class="pull-right">
      <%= link_to glyph(:forward), @enrollment.next_grading(@grading.id), type: "button", class: "btn#{" disabled" if @enrollment.next_grading(@grading.id).nil? }", title: 'Next assignment (→)', data: { keybinding: 'right' } %>
      <%= link_to glyph(:fast_forward), @enrollment.next_grading_to_do(@grading.id), type: "button", class: "btn#{" disabled" if @enrollment.next_grading_to_do(@grading.id).nil? }", title: 'Next ungraded assignment (ctrl + →)', data: { keybinding: 'ctrl+right' } %>
    </div>
  </div>
  <h2 class="span6">Assignment</h2>
  <h2 class="span6">Submission</h2>
  <iframe class="span6" src="<%= @assignment.pdf_url.to_s %>" style="height:500px;" frameborder="0">
  Assignment
  </iframe>
  <iframe class="span6" src="<%= @submission.pdf_url.to_s %>" style="height:500px;" frameborder="0">
  Submission
  </iframe>
</div> 