<%= form_for [@course, @assignment], multipart: true, html: {class: "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: @assignment %>
	<div class="row">
		<div class="span6">
			<div class="control-group">
				<%= f.label :name, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :name, placeholder: "e.g. Homework 1" %>
				</div>
			</div>
			<h2>Note: don't submit any files to leave the current ones unchanged</h2>
			<div class="control-group">
				<%= f.label :assignment_file, :class => 'control-label' %>
				<div class="controls">
					<%= f.file_field :assignment_file %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :solution_file, :class => 'control-label' %>
				<div class="controls">
					<%= f.file_field :solution_file %>
				</div>
			</div>
			<h2>Min and max points optional if you have subparts</h2>
			<div class="control-group">
				<%= f.label :min_points, :class => 'control-label' %>
				<div class="controls">
					<div class="span2">
						<%= f.number_field :min_points, step: 'any', placeholder: 0 %>
					</div>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :max_points, :class => 'control-label' %>
				<div class="controls">
					<div class="span2">
						<%= f.number_field :max_points, step: 'any', placeholder: 10 %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="offset1">
			<h3>Configure Assignment Parts</h3>
		</div>
	</div>
	<% f.options[:depth] = -1 %>
	<%= f.fields_for :subparts do |builder| %>
		<% builder.options[:depth] = 0 %>
		<%= render "subpart_fields", f: builder %>
	<% end %>
	<div class="span2">
		<%= link_to_add_fields "Add subpart", f, :subparts, type: "button", class: "btn btn-primary" %>
	</div>
	<div class="row"></div>
	<div class="row">
		<div class="offset1">
			<%= f.submit "Create Assignment", class: "btn btn-large btn-primary" %>
		</div>
	</div>
<% end %>
