<%= form_for [@course, @assignment], multipart: true do |f| %>
  <%= render 'shared/error_messages', object: @assignment %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "e.g. Homework 1" %>
  </p>
  <p>
    <%= f.label "Assignment file" %>
    <%= f.file_field :pdf %>
  </p>
  <p>
    <%= f.label "Minimum score" %>
    <%= f.number_field :min_points, step: 'any', class: 'text_field', value: 0 %>
  </p>
  <p>
    <%= f.label "Maximum score" %>
    <%= f.number_field :max_points, step: 'any', class: 'text_field', placeholder: 10 %>
  </p>
  <p>
    <%= f.submit "Create Assignment", class: "btn btn-large btn-primary" %>
  </p>
<% end %>
