<% if f.object.children.any? %>
	<%= f.fields_for :children do |builder| %>
		<%= render "subpart_config_form", f: builder %>
	<% end %>
<% else %>
	<div class="row">
		<div class="span12">
			<%= raw("<b>#{f.object.index}:</b> #{f.object.name}:") %>
			<div class="control-group">
				<%= f.label :min_points, :class => 'control-label' %>
				<div class="controls">
					<div class="span2">
						<%= f.number_field :min_points, step: 'any', value: (f.object.min_points || 0) %>
					</div>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :max_points, :class => 'control-label' %>
				<div class="controls">
					<div class="span2">
						<%= f.number_field :max_points, step: 'any', placeholder: 10 %>
					</div>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :solution_pages, :class => 'control-label' %>
				<div class="controls">
					<%= f.collection_check_boxes :page_ids, @assignment.solution_pages, :id, :page_num do |b| %>
						<div class="span1">
							<%= b.label(class: "check_box") { b.check_box(class: "check_box") + " #{b.object.page_num}" } %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
