<% provide(:title, "#{@course.name} | Add participant") %>
<h1>Add participant</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_tag add_enrollment_course_path(@course) do %>
      
      <%= label_tag :name, "Name <small>(optional)</small>".html_safe %> 
      <%= text_field_tag :name, nil, placeholder: "John Smith" %>

      <%= label_tag :email %>
      <%= text_field_tag :email, nil, placeholder: "john.smith@berkeley.edu" %>

      <%= label_tag :sid, "Student ID <small>(optional)</small>".html_safe %>
      <%= text_field_tag :sid, nil, placeholder: "279a3bc5" %>

      <%= label_tag :status, "Role" %>
      <%= select_tag :status, options_for_select(Statuses.get_status_strings, "Student") %>

      <%= submit_tag "Add participant", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
