<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to full_title, root_path, id: "logo" %>
      <div class="collapse nav-collapse">
        <ul class="nav pull-left">
          <% if signed_in? and current_user.courses.any? %>
            <% if current_user.enrollments.any? %>
              <% amount = (current_user.enrollments.map { |e| e.gradings_to_do.count }).sum %>
              <% if amount > 0 %>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Gradings <span class="badge"><%= amount %></span> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% current_user.enrollments.each do |enrollment| %>
                      <% if enrollment.gradings_to_do.any? %>
                        <li>
                          <%= link_to raw("#{enrollment.course.name} <span class='badge'>#{enrollment.gradings_to_do.count}</span>"), enrollment.next_grading_to_do %>
                        </li>
                      <% end %>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to "View all gradings", gradings_path %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "View all gradings", gradings_path %></li>
              <% end %>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                My Courses <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% current_user.courses.each do |course| %>
                  <li><%= link_to course.name, course %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "All Courses", courses_path %></li>
              </ul>
            </li>
            <% if @course and @course.persisted? %>
              <% if @enrollment and @enrollment.status > Statuses::TA %>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Assignments <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "View Assignments", course_assignments_path(@course) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Create New Assignment", new_course_assignment_path(@course) %></li>
                  </ul>
                </li>
                <li><%= link_to "View Roster", roster_course_path(@course) %> </li>
              <% else %>
                <li><%= link_to "View Assignments", course_assignments_path(@course) %></li>
              <% end %>
            <% end %>
          <% else %>
            <li><%= link_to "All Courses", courses_path %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
                <% unless current_user.admin? %>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Delete Account", current_user,   
                                                  method: :delete,
                                                  data: { confirm: "You sure? Deleted accounts cannot be recovered." } %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>